
// Base
// -------------------

// Used for global styles
// Or to override certain Atom core styles

// -------------------


body {
  font-size: @font-size;
  color: @text-color;
  background-color: @app-background-color;
}

atom-pane {
  border-right: 1px solid @base-border-color;
  &:last-child {
    border-right: none;
  }
}

.control-label {
  .setting-description {
    font-weight: normal;
    font-size: 13px;
  }
}

select.form-control {
  background-color: lighten(@button-background-color, 80%);
}

.settings-view {
  font-size: 12px;
  select.form-control {
    background-color: lighten(@button-background-color, 5%);
    .box-shadow(2px);
    margin-right: @component-padding;
    border: 1px solid fade(@button-border-color, 30%);

    &:hover,
    &:focus {
      .box-shadow(2px);
    }
  }
}

input[type='checkbox'],
select.form-control {
  border: 1px solid fade(@button-border-color, 30%);
}

::-webkit-input-placeholder,
.placeholder-text {
  color: fade(@text-color, 45%);
}

.github-StagingView:focus {
  .github-StagingView-group.is-focused .is-selected {
    background-color: @text-color-selected;
  }
}

atom-panel.tool-panel {
  border-color: @tool-panel-border-color;
}

atom-panel.footer {
  border-width: 0;
}

atom-text-editor[mini] {
  .box-shadow(1px, fade(@button-border-color, 25%));
}

.project-find {
  // Nudge the close button.
  .close-button {
    position: relative;
    top: -5px;
  }

  // Vertically align the find/replace text boxes alongside their accompanying
  // buttons.
  .input-block {
    align-items: center;
  }

  .header-item.options-label {
    font-size: 12px;
    font-weight: 200;

    .options {
      font-weight: 500;
    }
  }

}
