
// Mini Editor
// -------------------

// Mini Editors are the "text inputs" used in find+replace or in the settings.


atom-text-editor[mini] {
  padding-left: @component-padding/2;
  color: @text-color;
  border-radius: @component-border-radius;
  border: 1px solid @input-border-color;
  background-color: @input-background-color;

  &.is-focused {
    // TODO: This is turning things weird colors. Don't know why.
  }

  .placeholder-text {
    color: @text-color-subtle;
  }
  .selection .region {
    background-color: fade(@background-color-selected, 40%);
  }
}
