.control-label {
  .setting-description {
    font-weight: 300;
    font-size: 13px;
  }
}

.checkbox input[type='checkbox'] {
  top: 3px;
  background-color: @background-color-selected;
  &:not(:checked) {
    background-color: @input-background-color;
  }
}

.setting-description code {
  white-space: nowrap;
}

.settings-view .package-card.deprecated .deprecation-badge {
  display: inline-block;
  margin-left: 6px;
  font-size: 0.6em;
  font-style: italic;
  text-transform: uppercase;
}

.settings-view.pane-item {
  background-color: saturate(@pane-item-background-color, 50%) !important;

  .table td.selector {
    white-space: normal;
    overflow-wrap: break-word;
  }

  .config-menu {
    background-color: desaturate(lighten(@pane-item-background-color, 5%), 5%) !important;
    .pinstripe(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.02)
    );

    .nav > li {
      & > a:hover {
        background-color:
          hsl(@base-hue, 80%, 80%);
      }

      & > a {
        font-weight: 300;

        // Icons need a nudge.
        &::before {
          top: 2px;
        }
      }

      &.active > a {
        font-weight: 500;
        background-color: @background-color-selected;
      }
    }

    .btn {
      .btn();
    }
  }

  .alert-info {
    background-color: darken(@pane-item-background-color, 20%);
  }

  .keybinding-panel .is-user {
    background-color: @background-color-selected;
  }
}

// On the theme picker page, and perhaps elsewhere, a button sometimes appears
// alongside a dropdown menu. Ensure the two controls have the same height.
.settings-view .select-container {
  display: flex;
  align-items: stretch;

  .btn {
    height: auto;
  }
}

.settings-view .sub-section {
  & > .sub-section-heading {
    background-color: transparent;
    letter-spacing: -0.5px;
    font-weight: 500;

    &.icon::before {
      top: 2px;
      margin-right: 3px;
    }
  }
}
