
.settings-view.pane-item {
  background-color: saturate(@pane-item-background-color, 50%) !important;

  .config-menu {
    background-color: saturate(darken(@pane-item-background-color, 10%), 30%) !important;
    .pinstripe(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.05)
    );

    .nav > li.active > a {
      background-color: @background-color-selected;
    }

    .btn {
      .btn();
    }
  }

  .keybinding-panel .is-user {
    background-color: @background-color-selected;
  }
}
