
// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view


.tree-view-resizer {
  border-right: 1px solid @base-border-color;
}

.tree-view {
  color: @text-color;
  background-color: @tree-view-background-color;

  // The selected item should have its icons change color along with the text.
  // As it happens, this requires lots of rules.
  .list-nested-item.selected > .list-item {
    & > .name {
      color: @text-color-selected !important;
    }

    & > .icon:before {
      color: @text-color-selected !important;
    }
  }

  .list-item {
    &.selected > .name {
      color: @text-color-selected !important;
    }

    &.selected > .icon:before {
      color: @text-color-selected !important;
    }
  }

  .list-nested-item.selected {
    .list-item:not(.selected) > .name {
      color: inherit;
    }
  }

}
